/* links */
a:link, a:visited {
  color: #777;
  text-decoration: underline;
}
a:hover, a:active {
  color: #333;
}
h1 a:link, h1 a:visited {
	color: #fff;
	text-decoration: none;
}
h1 a:hover, h1 a:active {
	color: #E5E5E5;
}
h2 a:link {
  text-decoration: none;
}
.access a {
  padding: 0.1rem 0.2rem;
  text-decoration: none;
}
.access .current:hover {
  border-bottom: none;
}
.footer a:link,
.footer a:visited {
  color: #fff;
}
.social a {
  text-decoration: none;
}
