/* responsiveness */
@media (min-width: 100rem) {

}
@media (min-width: 75rem) and (max-width: 100rem) {
  html {
    font-size: 16px;
  }
  code {
    font-size: 1.4rem;
  }
}
@media (min-width: 48rem) and (max-width: 75rem) {
  html {
    font-size: 13px;
  }
  .wrapper {
    margin: 1.75rem auto;
  }
  code {
    font-size: 1.4rem;
  }
}
@media (max-width: 47.9375rem) and (min-width: 30rem) {
  html {
    font-size: 12px;
  }
  header, .footer {
    padding: .75rem 1.5rem;
  }
  .wrapper {
    margin: 1.5rem auto;
  }
  .nav-close {
    display: none;
  }
  main {
    padding: 0 1.5rem;
  }
  code {
    font-size: 1.4rem;
  }
  .footer-beta span {
    display: block;
  }
}
@media (max-width: 30rem) {
  html {
    font-size: 11px;
  }
  header, .footer {
    padding: .5rem 1rem;
  }
  .access {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    padding: 25% 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    overflow: scroll;
  }
  .access li {
    display: block;
    padding: 1rem 0;
    text-align: center;
    font-size: 2rem;
  }
  .nav-trigger {
    display: block;
    margin: .25rem;
    padding: .25rem;
    opacity: .85;
    position: fixed;
    top: 0;
    right: 0;
    font-size: 3.5rem;
    line-height: 1;
    width: inherit;
    height: inherit;
  }
  .nav-close {
    position: fixed;
    top: .25rem;
    right: .25rem;
    z-index: 999;
    padding: .25rem;
    font-size: 3.5rem;
    width: inherit;
    height: inherit;
  }
  .wrapper {
    margin: 1rem auto;
  }
  main {
    padding: 0 1rem;
  }
  code {
    font-size: 1.5rem;
  }
}
